################################################################################
# Visual Studio – temporäre Dateien
################################################################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# IntelliSense / AutoPCH
*.ipch
*.iobj
*.idb
*.opendb
*.VC.db

################################################################################
# Build-Ausgabe (Debug/Release)
################################################################################
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
out/

# MSBuild / Compiler Cache
*.obj
*.o
*.ilk
*.pdb
*.pch
*.tlog
*.log
*.lastbuildstate
*.recipe
*.cache

################################################################################
# Binaries — global ignorieren
################################################################################
*.exe
*.dll
*.sys
*.lib

################################################################################
# WinDivert explizit erlauben
################################################################################
!NetPrio/external/WinDivert/**
# erlaubt DLL, SYS, LIB, H, etc.

################################################################################
# Projektdateien
################################################################################
*.vcxproj.user
*.filters
*.aps

################################################################################
# Backup / Sonstige
################################################################################
*~
*.bak
*.old
*.orig
